<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.my.MyHouseDao">
    <select id="list" parameterType="java.lang.Integer" resultType="com.api.vo.my.MyHouseVo">
        select cree.id,concat(cb.no,'-',cbu.no,'-',cbue.room_number) as room_name,cree.status,cree.effective_time_start,cree.effective_time_end
        from cpm_resident_estate_examine as cree,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb
        where cree.building_unit_estate_id = cbue.id and cbue.building_unit_id = cbu.id and cbu.building_id = cb.id and cree.resident_id = #{id} and cree.is_delete = 1
        order by cree.create_date DESC
    </select>

    <select id="countNotReviewed" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from cpm_resident_estate_examine where resident_id = #{residentId} and status = 1
    </select>

    <update id="falseDelete" parameterType="java.lang.Integer">
        update cpm_resident_estate_examine set is_delete = 0 where id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.vo.my.MyHouseFBIVo">
        select cree.id,concat(cb.no,'-',cbu.no,'-',cbue.room_number) as room_name,cree.building_unit_estate_id as estate_id,cree.type,ur.name,ur.id_type,ur.id_number,cree.effective_time_start,cree.effective_time_end,cree.status
        from cpm_resident_estate_examine as cree,user_resident as ur,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb
        where cree.resident_id = ur.id and cree.building_unit_estate_id = cbue.id and cbue.building_unit_id = cbu.id and cbu.building_id = cb.id and cree.is_delete = 1 and cree.id = #{estateExamineId}
    </select>

    <select id="findStatusById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select status from cpm_resident_estate_examine where id = #{id}
    </select>
    <select id="findResidentIdById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select resident_id from cpm_resident_estate_examine where id = #{id}
    </select>
    <select id="findEstateIdById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select building_unit_estate_id from cpm_resident_estate_examine where id = #{id}
    </select>
    <select id="findNowEstateIdByResidentId" resultType="java.lang.Integer">
        select now_estate_id from user_resident where id = #{residentId}
    </select>
    <select id="findDBEstaIdByResidentId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select building_unit_estate_id from cpm_resident_estate where resident_id = #{residentId}
    </select>
    <select id="findEstateInfoByResidentId" parameterType="com.api.model.basicArchives.ResidentIdAndEstateId" resultType="com.api.vo.my.MyHouseEstateInfoVo">
        select id,effective_time_start,effective_time_end from cpm_resident_estate where building_unit_estate_id = #{estateId} and resident_id = #{residentId}
    </select>
    <select id="countSuccessReviewed" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select building_unit_estate_id from cpm_resident_estate_examine where resident_id = #{residentId} and is_delete = 1 and status = 4
    </select>
    <select id="findSBResidentInfoByResidentId" parameterType="java.lang.Integer" resultType="com.api.vo.my.MyHouseResidentInfoVo">
        select id,name,id_type,id_number from user_resident where id = #{residentId}
    </select>

</mapper>