<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.manage.dao.dataStatistics.DataStatisticsDao">

    <select id="findLastMonthPayPrice" resultType="java.math.BigDecimal">
        select(case sum(sdp.paid_price) is null when true then 0 else sum(sdp.paid_price) end) as last_month_pay_price
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and date_format(sdp.begin_date,'%Y-%m')=date_format(DATE_SUB(now(), INTERVAL 1 MONTH),'%Y-%m')
		and sdp.status in (2,3) and sctd.marker = 1
    </select>
    <select id="findLastMonthUnpaidPrice" resultType="java.math.BigDecimal">
        select(case sum(sdp.payment_price) is null when true then 0 else sum(sdp.payment_price) end) as last_month_unpaid_price
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and date_format(sdp.begin_date,'%Y-%m')=date_format(DATE_SUB(now(), INTERVAL 1 MONTH),'%Y-%m')
		and sdp.status in (1,2) and sctd.marker = 1
    </select>
    <select id="findLastMonthShouldPayPrice" resultType="java.math.BigDecimal">
        select(case sum(sdp.total_price) is null when true then 0 else sum(sdp.total_price) end) as last_month_should_pay_price
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and date_format(sdp.begin_date,'%Y-%m')=date_format(DATE_SUB(now(), INTERVAL 1 MONTH),'%Y-%m')
		and sctd.marker = 1
    </select>
    <select id="findLastMonthUnpaidHouseholds" resultType="java.math.BigDecimal">
        select count(*) as last_month_unpaid_households
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and date_format(sdp.begin_date,'%Y-%m')=date_format(DATE_SUB(now(), INTERVAL 1 MONTH),'%Y-%m')
        and sctd.marker = 1
    </select>
</mapper>