<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.community.AppGambitDao">
    <select id="list" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppGambitThemeVo">
        select a.* from (
            select sgt.*,sg.title as gambit_title,ur.name as create_name
            from user_resident as ur,sys_gambit_theme as sgt
            LEFT JOIN sys_gambit as sg on sgt.gambit_id = sg.id and sg.is_delete = 1
            where ur.id = sgt.create_id and sgt.is_delete = 1
            order by sgt.create_date DESC
        ) as a where a.is_public = 1 or a.create_id = #{id}
    </select>

    <select id="findCommentByThemeId" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppGambitThemeCommentVo">
        select sgtc1.*,ur1.name as create_name,ur2.name as parent_name
        from user_resident as ur1 , sys_gambit_theme_comment as sgtc1
        LEFT JOIN sys_gambit_theme_comment as sgtc2 on sgtc1.parent_id = sgtc2.id
        LEFT JOIN user_resident as ur2 on sgtc2.create_id = ur2.id
        where sgtc1.gambit_theme_id = #{ThemeId} and sgtc1.create_id = ur1.id and sgtc1.is_delete = 1
        order by sgtc1.create_date DESC
    </select>

    <select id="listGambit" resultType="com.api.vo.app.AppGambitVo">
        select * from sys_gambit where is_public = 1 and is_delete = 1 order by create_date DESC
    </select>

    <select id="sumLikeNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select SUM(likes) from sys_gambit_theme where gambit_id = 1 and is_delete = 1 group by id
    </select>

    <select id="sumCommentNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from sys_gambit_theme_comment where gambit_id = #{id} and is_delete = 1
    </select>

    <select id="myTidings" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppMyTidingsVo">
        select * from sys_gambit_theme where create_id = #{id} and is_delete =1 order by create_date DESC
    </select>

    <select id="findLikeNames" parameterType="java.lang.Integer" resultType="com.api.vo.app.IdAndName">
        select ur.id,ur.name from sys_gambit_theme_like as sgtl,user_resident as ur
        where sgtl.create_id = ur.id and  gambit_theme_id = #{id}
    </select>

    <select id="GambitThemeDetail" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppGambitThemeVo">
        select sgt.*,sg.title as gambit_title,ur.name as create_name
        from user_resident as ur,sys_gambit_theme as sgt
        LEFT JOIN sys_gambit as sg on sgt.gambit_id = sg.id and sg.is_delete = 1
        where sgt.create_id = ur.id and sgt.is_delete = 1 and sgt.id = #{themeId}
    </select>

    <select id="findGambitIdByThemeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select gambit_id from sys_gambit_theme where id = #{themeId}
    </select>

    <select id="findThemeLikeByIds" parameterType="com.api.model.app.UserIdAndThemeId" resultType="com.api.model.app.AppGambitThemeLike">
        select * from sys_gambit_theme_like where gambit_theme_id = #{themeId} and create_id = #{id}
    </select>

    <insert id="insertThemeLike" parameterType="com.api.model.app.AppGambitThemeLike">
        insert into sys_gambit_theme_like(
            gambit_id,
            gambit_theme_id,
            create_id,
            create_date
        )values (
            #{gambitId},
            #{gambitThemeId},
            #{createId},
            #{createDate}
        )
    </insert>

    <delete id="deleteThemeLike" parameterType="java.lang.Integer">
        delete from sys_gambit_theme_like where id = #{id}
    </delete>

    <update id="incrLikesByTheme" parameterType="java.lang.Integer">
        update sys_gambit_theme set likes = likes + 1 where id = #{themeId}
    </update>

    <update id="decrLikesByTheme" parameterType="java.lang.Integer">
        update sys_gambit_theme set likes = likes - 1 where id = #{themeId}
    </update>

    <update id="falseDelete" parameterType="com.api.model.app.UserIdAndThemeId" >
        update sys_gambit_theme set is_delete = 0 where id = #{themeId} and create_id = #{id}
    </update>


</mapper>