<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.manage.dao.system.SysRoleDao">
    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.model.system.SysRole">
        select * from sys_role where id = #{id}
    </select>

    <select id="findByOrganizationId" parameterType="java.lang.Integer" resultType="com.api.model.system.SysRole">
        SELECT r.* from sys_organization as o,sys_organization_role as sor,sys_role r
        WHERE o.id = sor.organization_id AND r.id = sor.role_id AND o.id = #{organizationId}
    </select>

    <select id="findByIdentityId" parameterType="java.lang.Integer" resultType="com.api.model.system.SysRole">
        select r.* FROM sys_identity as i,sys_identity_role as ir,sys_role as r
        WHERE i.id = ir.identity_id AND r.id = ir.role_id and i.id = #{positionId}
    </select>

</mapper>