<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.basicArchives.CpmDecorationDao">
    <select id="list" parameterType="com.api.model.basicArchives.SearchDecoration" resultType="com.api.vo.basicArchives.VoDecoration">
        select cd.*,cbue.room_number,cbu.no as unitNo,cb.no as estateNo,group_concat(ur.name) as residentName
        from cpm_decoration as cd,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb,user_resident as ur,cpm_resident_estate as cre
        <where>
            cd.building_unit_estate_id = cbue.id
            and cbue.building_unit_id = cbu.id
            and cbu.building_id = cb.id
            and cbue.id = cre.building_unit_estate_id
            and ur.id = cre.resident_id
            <if test="roomNumber != null and roomNumber != ''">
                and cbue.room_number like concat('%',#{roomNumber},'%')
            </if>
            <if test="unitNo != null">
                and cbu.no like concat('%',#{unitNo},'%')
            </if>
            <if test="estateNo != null">
                and cb.no like concat('%',#{estateNo},'%')
            </if>
            <if test="residentName != null and residentName != ''">
                and ur.name like concat('%',#{residentName},'%')
            </if>
            <if test="name != null and name != ''">
                and cd.name like concat('%',#{name},'%')
            </if>
            <if test="tel != null and tel != ''">
                and cd.tel like concat('%',#{tel},'%')
            </if>
        </where>
        GROUP BY cd.id
    </select>

    <insert id="insert" parameterType="com.api.model.basicArchives.CpmDecoration">
        insert into cpm_decoration(
            name,tel,id_type,id_number,car_code,building_unit_estate_id,status,effective_time_start,effective_time_end
        )values (
            #{name},#{tel},#{idType},#{idNumber},#{carCode},#{buildingUnitEstateId},#{status},#{effectiveTimeStart},#{effectiveTimeEnd}
        )
    </insert>

    <update id="update" parameterType="com.api.model.basicArchives.CpmDecoration">
        update cpm_decoration
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="idType != null">
                id_type = #{idType},
            </if>
            <if test="idNumber != null and idNumber != ''">
                id_number = #{idNumber},
            </if>
            <if test="carCode != null and carCode != ''">
                car_code = #{carCode},
            </if>
            <if test="buildingUnitEstateId != null">
                building_unit_estate_id = #{buildingUnitEstateId},
            </if>
            <if test="effectiveTimeStart != null">
                effective_time_start = #{effectiveTimeStart},
            </if>
            <if test="effectiveTimeEnd != null">
                effective_time_end = #{effectiveTimeEnd},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.model.basicArchives.CpmDecoration">
        select * from cpm_decoration where id = #{id}
    </select>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from cpm_decoration where id = #{id}
    </delete>
</mapper>