<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aku.dao.basicArchives.UnitDao">
    <sql id="field">
        id,floors,unit_number,is_elevator,building_id
    </sql>

    <select id="list" parameterType="com.aku.model.vo.VoUnit" resultType="com.aku.model.vo.VoUnit">
        select tu.*,tb.`name` as buildingName
        from test_unit tu,test_building tb
        <where>
            and tu.building_id = tb.id
            <if test="unitNumber != null">
                and tu.unit_number = #{unitNumber}
            </if>
            <if test="buildingName != null and buildingName != ''">
                and tb.name = #{buildingName}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="com.aku.model.basicArchives.TestUnit">
        insert into
        test_unit(floors,unit_number,is_elevator,building_id)
        values (#{floors},#{unitNumber},#{isElevator},#{buildingId})
    </insert>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.aku.model.basicArchives.TestUnit">
        select
        <include refid="field"/>
        from test_unit
        where id =#{id}
    </select>

    <update id="update" parameterType="com.aku.model.basicArchives.TestUnit">
        update test_unit
        <set>
            <if test="floors != null">
                floors = #{floors},
            </if>
            <if test="unitNumber != null">
                unit_number = #{unitNumber},
            </if>
            <if test="isElevator != null">
                is_elevator = #{isElevator},
            </if>
            <if test="buildingId != null and buildingId != ''">
                building_id = #{buildingId},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from test_unit where id = #{id}
    </delete>
</mapper>