<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.basicArchives.UserStaffDao">
    <insert id="insert" parameterType="com.api.model.basicArchives.UserStaff">
        insert into user_staff(
            name,tel,id_type,id_number
        )values (
            #{name},#{tel},#{idType},#{idNumber}
        )
    </insert>
    <select id="findByDecorationId" parameterType="java.lang.Integer" resultType="com.api.model.basicArchives.UserStaff">
        select us.*,cds.identity
        from user_staff as us,cpm_decoration_staff as cds
        where us.id = cds.staff_id and cds.decoration_id = #{id}
    </select>

    <select id="findByStaffId" parameterType="java.lang.Integer" resultType="com.api.model.basicArchives.UserStaff">
        select us.*,cds.identity
        from user_staff as us,cpm_decoration_staff as cds
        where us.id = cds.staff_id and cds.staff_id = #{id}
    </select>
    
    <delete id="deleteByDecorationIdAndStaffId" parameterType="com.api.model.basicArchives.DecorationIdAndStaffId">
        delete from cpm_decoration_staff
        where decoration_id = #{decorationId} and staff_id = #{staffId}
    </delete>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from user_staff where id = #{id}
    </delete>

    <insert id="insertDecorationIdAndStaffId" parameterType="com.api.model.basicArchives.CpmDecorationStaff">
        insert into cpm_decoration_staff(
            decoration_id,staff_id,identity
        )values (
            #{decorationId},#{staffId},#{identity}
        )
    </insert>



</mapper>