<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.butler.AppArticleBorrowDao">
    <select id="list" resultType="com.api.vo.app.AppArticleBorrowVo">
        select sa.id,sa.name,count(article_id) as quantity
        from sys_article_detail as sad,sys_article as sa
        where sad.article_id = sa.id and sad.status = 1
        GROUP BY sad.article_id
    </select>

    <select id="findBorrowNumById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) as num
        from sys_article_borrow as sab,sys_article_detail as sad
        where sab.article_detail_id = sad.id and borrow_status = 1 and sad.article_id = #{id}
    </select>

    <select id="myList" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppMyArticleBorrowVo">
        select sab.*,sa.name,sad.code
        from sys_article_borrow as sab,sys_article_detail as sad,sys_article as sa
        where sab.article_detail_id = sad.id and sad.article_id = sa.id and sab.create_id = #{id}
        ORDER BY sab.create_date DESC
    </select>

    <update id="frmLoss" parameterType="com.api.model.app.UserIdAndArticleBorrowId">
        update sys_article_borrow set status = 2
        where id = #{articleBorrowId} and create_id = #{id}
    </update>

</mapper>