<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.butler.AppHousekeepingServiceDao">

    <insert id="submitHousekeeping" parameterType="com.api.model.app.AppHousekeepingService">
        insert into sys_housekeeping_service(
            estate_id,
            type,
            content,
            status,
            proposer,
            apply_time,
            create_id,
            create_date
        )values (
            #{estateId},
            #{type},
            #{content},
            #{status},
            #{proposer},
            #{applyTime},
            #{createId},
            #{createDate}
        )
        <selectKey keyProperty="id" resultType="java.lang.Integer">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <insert id="insertHousekeepingProcessRecord" parameterType="com.api.model.app.AppHousekeepingServiceProcessRecord">
        insert into sys_housekeeping_service_process_record(
            housekeeping_service_id,
            operation_date,
            operation_type,
            operator,
            operator_type,
            operator_content
        )values (
            #{housekeepingServiceId},
            #{operationDate},
            #{operationType},
            #{operator},
            #{operatorType},
            #{operatorContent}
        )
    </insert>
    <select id="list" parameterType="com.api.model.app.SearchAppHousekeepingService" resultType="com.api.vo.app.AppHousekeepingServiceVo">
        select shs.*,CONCAT(cb.no,'-',cbu.no,'-',cbue.room_number) as room_name
        from sys_housekeeping_service as shs,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb
        <where>
            shs.estate_id = cbue.id
            and cbue.building_unit_id = cbu.id
            and cbu.building_id = cb.id
            <if test="housekeepingStatus != null">
                and shs.status = #{housekeepingStatus}
            </if>
        </where>
    </select>
</mapper>