<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.butler.AppNewsDao">

    <select id="findAllCategory" resultType="com.api.vo.app.IdAndName">
        select id,name from sys_news_category
    </select>

    <select id="newsList" parameterType="com.api.model.app.SearchAppNews" resultType="com.api.vo.app.AppNewsVo">
        select id,title,create_date from sys_news
        <where>
            <if test="newsCategoryId != null">
                news_category_id = #{newsCategoryId}
            </if>
        </where>
        order by create_date desc
    </select>
    <select id="findNewsByNewsId" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppNewsVoFBI">
        select sn.id,sn.code,sn.title,sn.content,snc.name as news_category_name,su.actual_name create_name,sn.create_date
        from sys_news as sn,sys_news_category as snc,sys_user as su
        where sn.news_category_id = snc.id and sn.create_id = su.id and sn.id = #{newsId}
    </select>

</mapper>