<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.butlerApp.dao.jurisdiction.ButlerRepairEngineeringDao">

    <select id="list1" parameterType="com.api.model.butlerApp.ButlerRepairEngineeringSearch" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringVo">
        select * from sys_report_repair_engineering
        <where>
            <if test="repairEngineeringStatus != null">
                status = #{repairEngineeringStatus}
            </if>
        </where>
    </select>
    <select id="list2" parameterType="com.api.model.butlerApp.ButlerRepairEngineeringSearch" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringVo">
        select * from sys_report_repair_engineering
        <where>
            <if test="repairEngineeringStatus != null">
                status = #{repairEngineeringStatus}
            </if>
            #{organizationIdPath} like concat('%',organization_id,'%')
        </where>
    </select>
    <select id="list3" parameterType="com.api.model.butlerApp.ButlerRepairEngineeringSearch" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringVo">
        select * from sys_report_repair_engineering
        <where>
            <if test="repairEngineeringStatus != null">
                status = #{repairEngineeringStatus}
            </if>
            maintenance_staff = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.api.model.butlerApp.ButlerRepairEngineering">
        insert into sys_report_repair_engineering(
            repair_area,
            code,
            type,
            report_detail,
            status,
            create_id,
            create_date
        )values (
            #{repairArea},
            #{code},
            #{type},
            #{reportDetail},
            #{status},
            #{createId},
            #{createDate}
        )
        <selectKey keyProperty="id" resultType="java.lang.Integer">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <insert id="insertProcessRecord" parameterType="com.api.model.butlerApp.ButlerReportRepairEngineeringProcessRecord">
        insert into sys_report_repair_engineering_process_record(
            repair_engineering_id,
            operation_date,
            operation_type,
            operator,
            operator_type,
            operator_content
        )values (
            #{repairEngineeringId},
            #{operationDate},
            #{operationType},
            #{operator},
            #{operatorType},
            #{operatorContent}
        )
    </insert>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringFBIVo">
        select srre.*,su1.actual_name as create_name,su1.tel as create_tel,so.name as organization_name,
        su2.actual_name as organization_leading_name,su2.tel as organization_leading_tel,
        su3.actual_name as maintenance_staff_name,su3.tel as maintenance_staff_tel,
        so2.name as maintenance_staff_organization_name
        from sys_user as su1,sys_report_repair_engineering as srre
        LEFT JOIN sys_organization as so on srre.organization_id = so.name
        LEFT JOIN sys_user as su2 on so.leading_id = su2.id
        LEFT JOIN sys_user as su3 on srre.maintenance_staff = su3.id
        LEFT JOIN sys_organization as so2 on su3.organization_id = so2.id
        where srre.create_id = su1.id and srre.id = #{repairEngineeringId}
    </select>


</mapper>