<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.butlerApp.dao.jurisdiction.ButlerRepairDao">
    <select id="findJIdsByRoleId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select jurisdiction_id from sys_role_jurisdiction where role_id = #{roleId}
    </select>

    <select id="list1" parameterType="com.api.model.butlerApp.ButlerRepairSearch" resultType="com.api.vo.butlerApp.ButlerRepairVo">
        select * from (
            select sdl.id as dispatch_id,srr.id,srr.report_detail,srr.repair_date,sdl.status,(case sdld.create_id is null when true then -1 else sdld.create_id end) as create_id
            from sys_report_repair as srr,sys_dispatch_list as sdl LEFT JOIN sys_dispatch_list_detail as sdld
            on sdld.dispatch_list_id = sdl.id
            <where>
                srr.dispatch_list_id = sdl.id
                and sdl.sys_delete = 1
                <if test="repairStatus == 1">
                    and sdl.status = #{repairStatus}
                </if>
                <if test="repairStatus == 2">
                    and sdl.status = #{repairStatus}
                </if>
                <if test="repairStatus == 3">
                    and sdl.status = #{repairStatus}
                </if>
                <if test="repairStatus == 4">
                    and sdl.status between 4 and 7
                </if>
                <if test="repairStatus == 5">
                    and sdl.status = 7
                </if>
                <if test="repairStatus == 6">
                    and sdl.status = 8
                </if>
            </where>
        ) as a where a.create_id = -1 or a.create_id = #{id}
    </select>

    <select id="list2" parameterType="com.api.model.butlerApp.ButlerRepairSearch" resultType="com.api.vo.butlerApp.ButlerRepairVo">
        select sdl.id as dispatch_id,srr.id,srr.report_detail,srr.repair_date,sdl.status
        from sys_report_repair as srr,sys_dispatch_list as sdl,sys_dispatch_list_detail as sdld
        <where>
            srr.dispatch_list_id = sdl.id
            and sdld.dispatch_list_id = sdl.id
            and sdld.create_id = #{id}
            and sdl.sys_delete = 1
            <if test="repairStatus == 1">
                and sdl.status = 2
            </if>
            <if test="repairStatus == 2">
                and sdl.status = 3
            </if>
            <if test="repairStatus == 3">
                and sdl.status between 4 and 7
            </if>
            <if test="repairStatus == 4">
                and sdl.status = 7
            </if>
            <if test="repairStatus == 5">
                and sdl.status = 8
            </if>
        </where>
    </select>

    <select id="list3" parameterType="com.api.model.butlerApp.ButlerRepairSearch" resultType="com.api.vo.butlerApp.ButlerRepairVo">
        select sdl.id as dispatch_id,srr.id,srr.report_detail,srr.repair_date,sdl.status
        from sys_report_repair as srr,sys_dispatch_list as sdl
        where srr.dispatch_list_id = sdl.id and sdl.sys_delete = 1
    </select>
</mapper>