<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.butlerApp.dao.jurisdiction.ButlerRepairEngineeringDao">

    <select id="list1" parameterType="com.api.model.butlerApp.ButlerRepairEngineeringSearch" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringVo">
        select * from sys_report_repair_engineering
        <where>
            <if test="repairEngineeringStatus != null">
                status = #{repairEngineeringStatus}
            </if>
        </where>
    </select>
    <select id="list2" parameterType="com.api.model.butlerApp.ButlerRepairEngineeringSearch" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringVo">
        select * from sys_report_repair_engineering
        <where>
            <if test="repairEngineeringStatus != null">
                status = #{repairEngineeringStatus}
            </if>
            #{organizationIdPath} like concat('%',organization_id,'%')
        </where>
    </select>
    <select id="list3" parameterType="com.api.model.butlerApp.ButlerRepairEngineeringSearch" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringVo">
        select * from sys_report_repair_engineering
        <where>
            <if test="repairEngineeringStatus != null">
                status = #{repairEngineeringStatus}
            </if>
            maintenance_staff = #{id}
        </where>
    </select>

    <insert id="insert" parameterType="com.api.model.butlerApp.ButlerRepairEngineering">
        insert into sys_report_repair_engineering(
            repair_area,
            code,
            type,
            report_detail,
            status,
            create_id,
            create_date
        )values (
            #{repairArea},
            #{code},
            #{type},
            #{reportDetail},
            #{status},
            #{createId},
            #{createDate}
        )
        <selectKey keyProperty="id" resultType="java.lang.Integer">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>
    <insert id="insertProcessRecord" parameterType="com.api.model.butlerApp.ButlerReportRepairEngineeringProcessRecord">
        insert into sys_report_repair_engineering_process_record(
            repair_engineering_id,
            operation_date,
            operation_type,
            operator,
            operator_type,
            operator_content
        )values (
            #{repairEngineeringId},
            #{operationDate},
            #{operationType},
            #{operator},
            #{operatorType},
            #{operatorContent}
        )
    </insert>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.vo.butlerApp.ButlerRepairEngineeringFBIVo">
        select * from sys_report_repair_engineering where id = #{repairEngineeringId}
    </select>


</mapper>