<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.butlerApp.dao.jurisdiction.ButlerInspectionDao">
    <select id="list" parameterType="com.api.model.butlerApp.ButlerInspectionSearch" resultType="com.api.vo.butlerApp.ButlerInspectionVo">
        select sie.id,concat(sip.code,'-',sie.sort) as code,sip.name,(case sie.begin_date is null when true then 1 else 0 end) as status
        from sys_inspection_execute as sie,sys_inspection_plan as sip
        <where>
            sie.inspection_plan_id = sip.id
            <if test="inspectionStatus != null">
                and (case sie.begin_date is null when true then 1 else 0 end) = #{inspectionStatus}
            </if>
        </where>
    </select>
</mapper>