<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.butlerApp.dao.jurisdiction.ButlerBorrowDao">
    <select id="list" parameterType="com.api.model.butlerApp.ButlerBorrowSearch" resultType="com.api.vo.butlerApp.ButlerBorrowVo">
        select sab.*,sa.name as article_name,ur.name as borrow_name,ur.tel as borrow_tel
        from sys_article_borrow as sab,sys_article_detail as sad,sys_article as sa,user_resident as ur
        <where>
            sab.article_detail_id = sad.id
            and sad.article_id = sa.id
            and sab.create_id = ur.id
            <if test="borrowStatus != null">
                and sab.borrow_status = #{borrowStatus}
            </if>
        </where>
        order by sab.create_date DESC
    </select>

    <select id="checkItems" parameterType="java.lang.Integer" resultType="com.api.vo.butlerApp.ButlerCheckItemsVo">
        select sab.*,sa.name as article_name,sad.code
        from sys_article_borrow as sab,sys_article_detail as sad,sys_article as sa,user_resident as ur
        where sab.article_detail_id = sad.id and sad.article_id = sa.id and sab.create_id = ur.id and sab.id = #{articleBorrowId}
    </select>

    <update id="updateSAEByBorrowId" parameterType="com.api.model.butlerApp.ButlerSubmitCheck">
        update sys_article_borrow
        set status = #{articleStatus},
        end_date = #{endDate},
        borrow_status = #{borrowStatus}
        where id = #{articleBorrowId}
    </update>

    <update id="updateStatusByDetailId" parameterType="com.api.model.butlerApp.ButlerSubmitCheck">
        update sys_article_detail
        set status = #{articleStatus}
        where id = #{articleDetailId}
    </update>

    <select id="findStatusByBorrowId" parameterType="java.lang.Integer" resultType="com.api.vo.butlerApp.ButlerBorrowVo">
        select * from sys_article_borrow where id = #{articleBorrowId}
    </select>

    <select id="articleList" resultType="com.api.vo.butlerApp.ButlerArticleVo">
        select sa.id,sa.name,count(article_id) as quantity
        from sys_article_detail as sad,sys_article as sa
        where sad.article_id = sa.id
        GROUP BY sad.article_id
    </select>

    <select id="findBorrowNumById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) as num
        from sys_article_borrow as sab,sys_article_detail as sad
        where sab.article_detail_id = sad.id and borrow_status = 1 and sad.article_id = #{id}
    </select>

    <insert id="insertArticle" parameterType="com.api.model.butlerApp.ButlerArticle">
        insert into sys_article(
            name,
            quantity,
            create_id,
            create_date
        )values (
            #{name},
            #{quantity},
            #{createId},
            #{createDate}
        )
    </insert>
</mapper>