<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.manage.dao.operationManagement.SysMaterialInventoryDao">

    <select id="list" parameterType="com.api.model.operationManagement.SearchMaterialInventory" resultType="com.api.vo.operationManagement.VoMaterialInventory">
        select * from sys_material_inventory
        <where>
            <if test="periodTime != null and periodTime != ''">
                period_time like concat('%',#{periodTime},'%')
            </if>
        </where>
    </select>
    <select id="countSMIDBySMIId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from sys_material_inventory_detail where material_inventory_id = #{id}
    </select>
</mapper>