<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.chargeManagement.SysDailyPaymentDao">
    <select id="list" parameterType="com.api.model.chargeManagement.SearchDailyPayment" resultType="com.api.vo.chargeManagement.VoDailyPayment">
        select a.*,sdpo.name as pay_name from (
        select sdp.*,sctd.name,cbue.room_number,cbu.no as unit_no,cb.no as estate_no,su.actual_name as create_name,
        (case sdp.modify_date is null
            when true
            then
                sdp.create_date
            else
                sdp.modify_date
        end) as update_date
        from sys_daily_payment as sdp,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb,sys_user as su,sys_charges_template_detail as sctd
        where sdp.building_unit_estate_id = cbue.id and cbue.building_unit_id = cbu.id and cbu.building_id = cb.id and su.id =sdp.create_id and sctd.id = sdp.work_order_type_detail_id
        ) as a
        LEFT JOIN sys_daily_payment_order as sdpo
        on a.id = sdpo.daily_payment_id
        <where>
            <if test="workOrderTypeDetailId != null">
                and a.work_order_type_detail_id = #{workOrderTypeDetailId}
            </if>
            <if test="beginDate != null">
                and a.begin_date <![CDATA[ > ]]> #{beginDate}
            </if>
            <if test="endDate != null">
                and a.end_date <![CDATA[ < ]]> #{endDate}
            </if>
            <if test="payName != null and payName != ''">
                and sdpo.name like concat('%',#{payName},'%')
            </if>
            <if test="tel != null and tel != ''">
                and sdpo.tel like concat('%',#{tel},'%')
            </if>
            <if test="roomNumber != null and roomNumber != ''">
                and a.room_number like concat('%',#{roomNumber},'%')
            </if>
            <if test="unitNo != null">
                and a.unit_no like concat('%',#{unitNo},'%')
            </if>
            <if test="estateNo != null">
                and a.estate_no like concat('%',#{estateNo},'%')
            </if>
        </where>
    </select>
</mapper>