<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.systemDataBigScreen.dao.SystemDataDao">
    <select id="findNowAddNum" parameterType="java.util.Date" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list where DAY(create_date) = DAY(#{date})
    </select>

    <select id="findNowSolveNum" parameterType="java.util.Date" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list where DAY(end_date) = DAY(#{date})
    </select>

    <select id="findNoDistributionNum" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list where status = 1
    </select>

    <select id="findProcessingNum" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list where status = 3
    </select>

    <select id="userVisitorsList" resultType="com.api.vo.systemDataBigScreen.SDUserVisitorsVo">
        select CONCAT(cb.no,'-',cbu.no,'-',cbue.room_number) as room_name,uv.name,uv.tel,ur.name as invite_name,uv.expected_visit_date,uv.visit_date
        from user_visitors as uv,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb,user_resident as ur
        where uv.building_unit_estate_id = cbue.id and cbue.building_unit_id = cbu.id and cbu.building_id = cb.id and uv.invite_people_id = ur.id
    </select>

    <select id="sysAdviceList" resultType="com.api.vo.systemDataBigScreen.SDSysAdviceVo">
        select type,status,content,create_date from sys_advice where is_delete = 1 and status = 3
    </select>

    <select id="sysAnnouncementList" resultType="com.api.vo.systemDataBigScreen.SDSysAnnouncementVo">
        select title,content,status,release_date from sys_announcement_management where status = 2
    </select>
    <select id="findBuildingNum" resultType="java.lang.Integer">
        select count(*) from cpm_building
    </select>

    <select id="findEstateNum" resultType="java.lang.Integer">
        select count(*) from cpm_building_unit_estate where is_delete = 1
    </select>

    <select id="findCheckInEstateNum" resultType="java.lang.Integer">
        select count(*) from cpm_building_unit_estate where is_delete = 1 and status in (1,5)
    </select>

    <select id="findParkingNum" resultType="java.lang.Integer">
        select count(*) from cpm_parking_space
    </select>

    <select id="findSoldParkingParkingNum" resultType="java.lang.Integer">
        select count(*) from cpm_parking_space where status = 1
    </select>

    <select id="findRentedParkingNum" resultType="java.lang.Integer">
        select count(*) from cpm_parking_space where status = 2
    </select>

    <select id="findUserCar" resultType="java.lang.Integer">
        select count(distinct code) from user_car
    </select>

    <select id="findResidentNum" resultType="java.lang.Integer">
        select count(*) from user_resident where type = 1
    </select>

    <select id="findTenantNum" resultType="java.lang.Integer">
        select count(*) from user_resident where type = 3
    </select>

    <select id="findThisYearPayableNum" parameterType="java.util.Date" resultType="java.lang.Integer">
        select count(sdp.id)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and YEAR(sdp.begin_date) = YEAR(#{date}) and sctd.marker = 1
    </select>

    <select id="findThisYearPayablePrice" parameterType="java.util.Date" resultType="java.math.BigDecimal">
        select sum(total_price)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and YEAR(sdp.begin_date) = YEAR(#{date}) and sctd.marker = 1
    </select>

    <select id="findPaidNum" resultType="java.lang.Integer">
        select count(sdp.id)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 3
    </select>

    <select id="findPaidPrice" resultType="java.math.BigDecimal">
        select sum(paid_price)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 3
    </select>

    <select id="findUnPaidNum" resultType="java.lang.Integer">
        select count(sdp.id)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 1
    </select>

    <select id="findUnPaidPrice" resultType="java.math.BigDecimal">
        select sum(payment_price)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 1
    </select>

    <select id="findDailyActivity" parameterType="com.api.model.systemDataBigScreen.DailyActivitySearch" resultType="com.api.vo.systemDataBigScreen.SDDailyActivityVo">
        select daily_activity_num,create_date from sys_daily_activity_log
        <where>
            <if test="beginDate != null">
                and create_date <![CDATA[ >= ]]> #{beginDate}
            </if>
            <if test="endDate != null">
                and create_date <![CDATA[ <= ]]> #{endDate}
            </if>
        </where>
    </select>

    <select id="findTodayDailyActivity" parameterType="java.util.Date" resultType="java.lang.Integer">
        select count(*) from sys_resident_request_log where DATE(last_date) = DATE(#{date})
    </select>

    <insert id="insertDailyActivity" parameterType="com.api.model.systemDataBigScreen.DailyActivity">
        insert into sys_daily_activity_log(
            daily_activity_num,
            create_date
        ) values (
            #{dailyActivityNum},
            #{createDate}
        )
    </insert>
</mapper>