<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.systemDataBigScreen.dao.SystemDataDao">
    <select id="findNowAddNum" parameterType="com.api.model.systemDataBigScreen.DispatchListSearch" resultType="com.api.vo.systemDataBigScreen.SDDispatchNumListVo">
        select date(create_date) as one_day,count(id) as num
        from sys_dispatch_list
        <where>
            <if test="beginDate != null">
                create_date <![CDATA[ >= ]]> date_format(#{beginDate},'%Y%m%d')
            </if>
            <if test="endDate != null">
                and create_date <![CDATA[ <= ]]> date_format(#{endDate},'%Y%m%d')
            </if>
        </where>
        GROUP BY one_day ORDER BY one_day desc
    </select>

    <select id="findNowSolveNum" parameterType="java.util.Date" resultType="com.api.vo.systemDataBigScreen.SDDispatchNumListVo">
        select date(end_date) as one_day,count(id) as num
        from sys_dispatch_list
        <where>
            <if test="beginDate != null">
                end_date <![CDATA[ >= ]]> date_format(#{beginDate},'%Y%m%d')
            </if>
            <if test="endDate != null">
                and end_date <![CDATA[ <= ]]> date_format(#{endDate},'%Y%m%d')
            </if>
            and end_date is not null
        </where>
        GROUP BY one_day ORDER BY one_day desc
    </select>

    <select id="findNoDistributionNum" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list where status = 1
    </select>

    <select id="findProcessingNum" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list where status = 3
    </select>

    <select id="userVisitorsList" resultType="com.api.vo.systemDataBigScreen.SDUserVisitorsVo">
        select CONCAT(cb.no,'-',cbu.no,'-',cbue.room_number) as room_name,uv.name,uv.tel,ur.name as invite_name,uv.expected_visit_date,uv.visit_date
        from user_visitors as uv,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb,user_resident as ur
        where uv.building_unit_estate_id = cbue.id and cbue.building_unit_id = cbu.id and cbu.building_id = cb.id and uv.invite_people_id = ur.id
    </select>

    <select id="sysAdviceList" resultType="com.api.vo.systemDataBigScreen.SDSysAdviceVo">
        select type,status,content,create_date from sys_advice where is_delete = 1 and status = 3
    </select>

    <select id="sysAnnouncementList" resultType="com.api.vo.systemDataBigScreen.SDSysAnnouncementVo">
        select title,content,status,release_date from sys_announcement_management where status = 2
    </select>
    <select id="findBuildingNum" resultType="java.lang.Integer">
        select count(*) from cpm_building
    </select>

    <select id="findEstateNum" resultType="java.lang.Integer">
        select count(*) from cpm_building_unit_estate where is_delete = 1
    </select>

    <select id="findCheckInEstateNum" resultType="java.lang.Integer">
        select count(*) from cpm_building_unit_estate where is_delete = 1 and status in (1,5)
    </select>

    <select id="findParkingNum" resultType="java.lang.Integer">
        select count(*) from cpm_parking_space
    </select>

    <select id="findSoldParkingParkingNum" resultType="java.lang.Integer">
        select count(*) from cpm_parking_space where status = 1
    </select>

    <select id="findRentedParkingNum" resultType="java.lang.Integer">
        select count(*) from cpm_parking_space where status = 2
    </select>

    <select id="findUserCar" resultType="java.lang.Integer">
        select count(distinct code) from user_car
    </select>

    <select id="findResidentNum" resultType="java.lang.Integer">
        select count(*) from user_resident where type = 1
    </select>

    <select id="findTenantNum" resultType="java.lang.Integer">
        select count(*) from user_resident where type = 3
    </select>

    <select id="findThisYearPayableNum" parameterType="java.util.Date" resultType="java.lang.Integer">
        select count(sdp.id)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and YEAR(sdp.begin_date) = YEAR(#{date}) and sctd.marker = 1
    </select>

    <select id="findThisYearPayablePrice" parameterType="java.util.Date" resultType="java.math.BigDecimal">
        select sum(total_price)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id and YEAR(sdp.begin_date) = YEAR(#{date}) and sctd.marker = 1
    </select>

    <select id="findPaidNum" resultType="java.lang.Integer">
        select count(sdp.id)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 3
    </select>

    <select id="findPaidPrice" resultType="java.math.BigDecimal">
        select sum(paid_price)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 3
    </select>

    <select id="findUnPaidNum" resultType="java.lang.Integer">
        select count(sdp.id)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 1
    </select>

    <select id="findUnPaidPrice" resultType="java.math.BigDecimal">
        select sum(payment_price)
        from sys_daily_payment as sdp,sys_charges_template_detail as sctd
        where sdp.charges_template_detail_id = sctd.id  and sctd.marker = 1 and sdp.status = 1
    </select>

    <select id="findDailyActivity" parameterType="com.api.model.systemDataBigScreen.DailyActivitySearch" resultType="com.api.vo.systemDataBigScreen.SDDailyActivityVo">
        select date(last_date) as createDate,count(DISTINCT resident_id) as daily_activity_num
        from sys_resident_request_log
        <where>
            <if test="beginDate != null">
                and last_date <![CDATA[ >= ]]> date_format(#{beginDate},'%Y%m%d')
            </if>
            <if test="endDate != null">
                and last_date <![CDATA[ <= ]]> date_format(#{endDate},'%Y%m%d')
            </if>
        </where>
        GROUP BY createDate ORDER BY createDate desc
    </select>
    <select id="findAllInspector" resultType="com.api.vo.systemDataBigScreen.SDInspectionSysUserVo">
        select DISTINCT su.id,su.actual_name,su.tel from sys_inspection_execute as sie,sys_inspection_plan as sip,sys_user as su
        where sie.inspection_plan_id = sip.id and sip.inspector = su.id
    </select>
    <select id="findTodayExecute" parameterType="java.util.Date" resultType="com.api.vo.systemDataBigScreen.SDInspectionExecuteListVo">
        select sie.id,sip.name,sie.begin_date,sie.end_date,sie.actual_begin_date,sie.actual_end_date from sys_inspection_execute as sie,sys_inspection_plan as sip
        where sie.inspection_plan_id = sip.id and DATE(sie.begin_date) = DATE(#{date}) order by sie.begin_date
    </select>

    <select id="findNowExecute" parameterType="java.util.Date" resultType="com.api.vo.systemDataBigScreen.SDInspectionExecuteVo">
        select sie.id,sip.name,sie.begin_date,sie.end_date,sie.actual_begin_date,sie.actual_end_date from sys_inspection_execute as sie,sys_inspection_plan as sip
        where sie.inspection_plan_id = sip.id and DATE(sie.begin_date) = DATE(#{date}) order by sie.begin_date
    </select>
    <select id="findExecutePointByExecuteId" parameterType="java.lang.Integer"
            resultType="com.api.vo.systemDataBigScreen.SDInspectionExecutePointVo">
        select id,code,name,complete_date,longitude,latitude from sys_inspection_execute_point where execute_id = #{executeId}
    </select>

    <select id="findPlanPointByExecuteId" parameterType="java.lang.Integer"
            resultType="com.api.vo.systemDataBigScreen.SDInspectionExecutePointVo">
        select sipo.id,sipo.code,sipo.name,sipo.longitude,sipo.latitude
        from sys_inspection_execute as sie,sys_inspection_plan as sip,sys_inspection_route as sir,sys_inspection_point_route as sipr,sys_inspection_point as sipo
        where sie.inspection_plan_id = sip.id and sip.inspection_route_id = sir.id and sipr.inspection_route_id = sir.id and sipr.inspection_point_id = sipo.id and sie.id = #{executeId}
    </select>
    <select id="findAllLocation" parameterType="java.lang.Integer" resultType="com.api.vo.systemDataBigScreen.SDInspectionExecuteMapVo">
        select longitude,latitude,create_date from sys_inspection_execute_map where execute_id = #{executeId}
    </select>

    <select id="findAllInspectionRecord" resultType="com.api.vo.systemDataBigScreen.SDInspectionRecordVo">
        select sie.id,sip.name,su.actual_name as inspector,sie.begin_date,sie.end_date,sie.actual_begin_date,sie.actual_end_date
        from sys_inspection_execute as sie,sys_inspection_plan as sip,sys_user as su
        where sie.inspection_plan_id = sip.id and sip.inspector = su.id
    </select>
    <select id="findReportDispatch" resultType="com.api.vo.systemDataBigScreen.SDReportDispatchVo">
        select sdl.id,sdl.code,
        (case sdl.status <![CDATA[ < ]]> 4 when true then 1 else 2 end) as status,
        (case sdl.end_date is null when true then srr.create_date else sdl.end_date end) as date_time
        from sys_report_repair as srr,sys_dispatch_list as sdl
        where sdl.id = srr.dispatch_list_id
    </select>
    <select id="findHandledNum" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list
        where status <![CDATA[ < ]]> 4
    </select>
    <select id="findPendingNum" resultType="java.lang.Integer">
        select count(*) from sys_dispatch_list
        where status <![CDATA[ >= ]]> 4
    </select>
    <select id="findPublicTypeNum" resultType="java.lang.Integer">
        select count(*) from sys_report_repair
        where type = 1
    </select>
    <select id="findFamilyTypeNum" resultType="java.lang.Integer">
        select count(*) from sys_report_repair
        where type = 2
    </select>

    <select id="findAllArticle" resultType="java.lang.Integer">
        select count(*) from sys_article_detail
    </select>

    <select id="findBorrowArticle" resultType="java.lang.Integer">
        select count(*) from sys_article_borrow as sab,sys_article_detail as sad
        where sab.article_detail_id = sad.id and sab.borrow_status in (1,3)
    </select>
    <select id="findBreakDownArticle" resultType="java.lang.Integer">
        select count(*) from sys_article_detail where status = 2
    </select>
    <select id="findLoseArticle" resultType="java.lang.Integer">
        select count(*) from sys_article_detail where status = 3
    </select>


</mapper>