<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.butlerApp.dao.message.ButlerAppMessageDao">
    <select id="findSysNoReadNumById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from butler_sys_message where receiver_account = #{id} and send_status = 1
    </select>

    <select id="findFirstTypeById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select type from butler_sys_message where receiver_account = #{id} order by send_date DESC limit 1
    </select>

    <select id="findCommentNoReadNumById" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from butler_comment_message where receiver_account = #{id} and send_status = 1
    </select>

    <select id="sysMessageList" parameterType="java.lang.Integer" resultType="com.api.vo.butlerApp.ButlerSysMessageVo">
        select id,type,relation_id from butler_sys_message where receiver_account = #{id}
    </select>

    <select id="sysCommentMessageList" parameterType="java.lang.Integer" resultType="com.api.vo.butlerApp.ButlerCommentMessageVo">
        select id,type,relation_id from butler_comment_message where receiver_account = #{id}
    </select>
    <insert id="insert" parameterType="com.api.model.butlerApp.ButlerAppCommentMessage">
        insert into butler_comment_message(
            type,
            relation_id,
            receiver_account,
            send_status,
            send_date
        )values (
            #{type},
            #{relationId},
            #{receiverAccount},
            #{sendStatus},
            #{sendDate}
        )
    </insert>

    <insert id="insertSysMessage" parameterType="com.api.model.butlerApp.ButlerAppSysMessage">
        insert into butler_sys_message(
            type,
            relation_id,
            receiver_account,
            send_status,
            send_date
        )values (
            #{type},
            #{relationId},
            #{receiverAccount},
            #{sendStatus},
            #{sendDate}
        )
    </insert>
</mapper>