<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.wx.VxOrderDao">
    <update id="update">
        update vx_order set total_fee=#{totalFee} where out_trade_no=#{outTradeNo};
    </update>

    <delete id="delete" parameterType="java.lang.String">
        delete from vx_order where out_trade_no=#{outTradeNo}
    </delete>
</mapper>