<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.butlerService.BorrowDao">
    <select id="list" parameterType="com.api.model.butlerService.SearchBorrow" resultType="com.api.vo.butlerService.VoBorrow">
        select sab.id,sa.quantity,sa.name,ur.name as borrow_name,ur.tel,sab.begin_date,sab.end_date,sab.status,sab.remake
        ,(select (select count(quantity) from sys_article_borrow where borrow_status = 1 and article_id = sa.id) ) as stock
        from sys_article_borrow as sab,sys_article as sa,user_resident as ur
        <where>
            sab.article_id = sa.id
            and ur.id = sab.create_id
            <if test="name != null and name != ''">
                and sa.name like concat('%',#{name},'%')
            </if>
            <if test="status != null">
                and sab.status = #{status}
            </if>
            <if test="borrowName != null and borrowName != ''">
                and ur.name like concat('%',#{borrowName},'%')
            </if>
            <if test="tel != null and tel != ''">
                and ur.tel like concat('%',#{tel},'%')
            </if>
            <if test="beginDate != null">
                and sab.begin_date <![CDATA[ > ]]> begin_date
            </if>
            <if test="endDate != null">
                and sab.end_date <![CDATA[ < ]]> end_date
            </if>

        </where>
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.model.butlerService.SysArticleBorrow">
        select * from sys_article_borrow where id = #{id}
    </select>

    <insert id="insertMessage" parameterType="com.api.model.butlerService.SysMessage">
        insert into sys_message(
            title,
            content,
            generate_date,
            send_date,
            sender,
            type
        ) values (
            #{title},
            #{content},
            #{generateDate},
            #{sendDate},
            #{sender},
            #{type}
        )
        <selectKey keyProperty="id" resultType="java.lang.Integer">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <insert id="insertSending" parameterType="com.api.model.butlerService.SysSending">
        insert into sys_sending(
            message_id,
            receiver_account,
            send_status,
            send_date
        ) values (
            #{messageId},
            #{receiverAccount},
            #{sendStatus},
            #{sendDate}
        )
    </insert>

    <select id="findAll" resultType="com.api.model.butlerService.SysArticleBorrow">
        select * from sys_article_borrow
    </select>
</mapper>