<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.dao.butlerService.SysChargesTemplateDetailDao">
    <select id="list" parameterType="com.api.model.butlerService.SearchChargesTemplateDetail" resultType="com.api.vo.butlerService.VoChargesTemplateDetail">
        select sctd.id,sctd.name,sctd.unit_price,sctd.type,sctd.other_fee,(
        case sctd.modify_date
            when not null
            then
                sctd.modify_date
            else
                sctd.create_date
        end
        ) as modify_date,su.actual_name as create_name,sct.status from sys_charges_template_detail as sctd,sys_user as su,sys_charges_template as sct
        <where>
            sct.id = #{chargesTemplateId}
            and sctd.charges_template_id = sct.id
            and sctd.create_id = su.id
            <if test="name != null and name != ''">
                and sctd.name like concat('%',#{name},'%')
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.api.model.butlerService.SysChargesTemplateDetail">
        insert into
        <trim prefix="sys_charges_template_detail(" suffix=")" suffixOverrides=",">
            charges_template_id,
            name,
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="otherFee != null">
                other_fee,
            </if>
            create_id,
            create_date
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{chargesTemplateId},
            #{name},
            <if test="unitPrice != null">
                #{unitPrice},
            </if>
            <if test="type != null">
                #{type},
            </if>
            <if test="otherFee != null">
                #{otherFee},
            </if>
            #{createId},
            #{createDate}
        </trim>
    </insert>
</mapper>