<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aku.dao.butlerService.UserVisitorsDao">
    <select id="list" parameterType="com.aku.model.butlerService.SearchUserVisitors" resultType="com.aku.vo.butlerService.VoUserVisitors">
        SELECT uv.*,cbue.room_number as room_number,cbu.no as unit_no,cb.no as estate_no
        from user_visitors as uv,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb
        <where>
            uv.building_unit_estate_id = cbue.id
            and cbue.building_unit_id = cbu.id
            and cbu.building_id = cb.id
            <if test="roomNumber != null and roomNumber != ''">
                and cbue.room_number like concat('%',#{roomNumber},'%')
            </if>
            <if test="unitNo != null">
                and cbu.no like concat('%',#{unitNo},'%')
            </if>
            <if test="estateNo != null">
                and cb.no like concat('%',#{estateNo},'%')
            </if>
            <if test="name != null and name != ''">
                and uv.name like concat('%',#{name},'%')
            </if>
            <if test="sex != null">
                and uv.sex = #{sex}
            </if>
            <if test="carNum != null and carNum != ''">
                and uv.car_num like concat('%',#{carNum},'%')
            </if>
            <if test="expectedVisitDate != null">
                and uv.expected_visit_date = #{expectedVisitDate}
            </if>
            <if test="visitDate != null">
                and uv.visit_date = #{visitDate}
            </if>
            <if test="visitorStatus != null">
                and uv.visitor_status = #{visitorStatus}
            </if>
            <if test="type != null">
                and uv.type = #{type}
            </if>
        </where>
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.aku.vo.butlerService.VoFindByIdVisitors">
        SELECT uv.*,cbue.room_number as room_number,cbu.no as unit_no,cb.no as estate_no
        from user_visitors as uv,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb
        where uv.building_unit_estate_id = cbue.id
            and cbue.building_unit_id = cbu.id
            and cbu.building_id = cb.id
            and uv.id = #{id}
    </select>

    <update id="update" parameterType="com.aku.model.butlerService.UserVisitors">
        update user_visitors
        <set>
            <if test="buildingUnitEstateId != null">
                building_unit_estate_id = #{buildingUnitEstateId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="isDrive != null">
                is_drive = #{isDrive},
            </if>
            <if test="carNum != null and carNum != ''">
                car_num = #{carNum},
            </if>
            <if test="expectedVisitDate != null">
                expected_visit_date = #{expectedVisitDate},
            </if>
            <if test="visitDate != null">
                visit_date = #{visitDate},
            </if>
            <if test="departureTime != null">
                departure_time = #{departureTime},
            </if>
            <if test="effectiveTime != null">
                effective_time = #{effectiveTime},
            </if>
            <if test="visitorStatus != null">
                visitor_status = #{visitorStatus},
            </if>
            <if test="modifyId != null">
                modify_id = #{modifyId},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate},
            </if>
            <if test="verifierId != null">
                verifier_id = #{verifierId},
            </if>
            <if test="verifierDate != null">
                verifier_date = #{verifierDate},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete  from user_visitors where id = #{id}
    </delete>

    <select id="listDetail" parameterType="java.lang.Integer" resultType="com.aku.vo.butlerService.VoUserVisitorsDetail">
        select * from user_visitors_detail
        where visitors_id = #{id}
        order by visit_time
    </select>
</mapper>