<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aku.dao.butlerService.UserDecorationDao">
    <select id="list" parameterType="com.aku.model.butlerService.SearchUserDecoration" resultType="com.aku.vo.butlerService.VoUserDecoration">
        select ud.emergency_contact,ud.tel,ud.decoration_deposit,ud.application_date,ud.clean_cost,ud.service_cost,ud.expected_begin,ud.expected_end,ud.actual_begin,ud.actual_end,
        ud.refund_deposit,ud.is_return_access_card,ud.status,ud.approve_results,ud.approve_date,ud.is_qualified,ud.remarks2,ur2.name as approve_name,
        cb.no as buildingNo,cbu.no as unitNo,cbue.room_number as roomNumber,ur.name as resident_name,ur.tel as residentTel,
        udp.name as construction_name,udp.tel as construction_tel
        from user_decoration as ud,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb,user_resident as ur,user_decoration_personnel as udp,user_resident as ur2
        <where>
            ud.building_unit_estate_id = cbue.id
            and cbue.building_unit_id = cbu.id
            and cbu.building_id = cb.id
            and ud.resident_id = ur.id
            and ur2.id = ud.approve_id
            and udp.decoration_id = ud.id
            and udp.identity = 1
        </where>
    </select>
</mapper>