<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.manage.dao.chargeManagement.SysMeterReadingRecordDao">

    <select id="findNewData" parameterType="java.lang.Integer" resultType="com.api.model.chargeManagement.SysMeterReadingRecord">
        select * from sys_meter_reading_record
        where type = #{type} and data_status = 1
        order by create_date desc limit 1
    </select>
    <select id="list" parameterType="com.api.model.chargeManagement.SearchMeterReadingRecord" resultType="com.api.vo.chargeManagement.VoMeterReadingRecord">
        select *,DATE_FORMAT(start_date,'%Y%m') as months from sys_meter_reading_record
    </select>

    <insert id="insertMeterReadingRecord" parameterType="com.api.model.chargeManagement.SysMeterReadingRecord">
        insert into sys_meter_reading_record(
            consumption,
            type,
            unit,
            recording_quantity,
            start_date,
            end_date,
            data_status,
            bill_status,
            create_date
        )value (
            #{consumption},
            #{type},
            #{unit},
            #{recordingQuantity},
            #{startDate},
            #{endDate},
            #{dataStatus},
            #{billStatus},
            #{createDate}
        )
    </insert>

    <update id="updateRemakes" parameterType="com.api.model.chargeManagement.SysMeterReadingRecord">
        update sys_meter_reading_record
        set remakes = #{remakes}
        where id = #{id}
    </update>

</mapper>