<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.manage.dao.chargeManagement.SysMeterReadingRecordDao">

    <select id="findNewData" parameterType="java.lang.Integer" resultType="com.api.model.chargeManagement.SysMeterReadingRecord">
        select * from sys_meter_reading_record
        where type = #{type} and data_status = 1
        order by create_date desc limit 1
    </select>
    <select id="list" parameterType="com.api.model.chargeManagement.SearchMeterReadingRecord" resultType="com.api.vo.chargeManagement.VoMeterReadingRecord">
        select *,DATE_FORMAT(start_date,'%Y%m') as months from sys_meter_reading_record
    </select>

    <insert id="insertMeterReadingRecord" parameterType="com.api.model.chargeManagement.SysMeterReadingRecord">
        insert into sys_meter_reading_record(
            consumption,
            type,
            unit,
            recording_quantity,
            start_date,
            end_date,
            data_status,
            bill_status,
            create_date
        )value (
            #{consumption},
            #{type},
            #{unit},
            #{recordingQuantity},
            #{startDate},
            #{endDate},
            #{dataStatus},
            #{billStatus},
            #{createDate}
        )
    </insert>

    <update id="updateRemakes" parameterType="com.api.model.chargeManagement.SysMeterReadingRecord">
        update sys_meter_reading_record
        set remakes = #{remakes}
        where id = #{id}
    </update>
    <update id="updateMeterReadingData" parameterType="com.api.model.chargeManagement.SysMeterReadingData">
        update sys_meter_reading_data
        set quantity = #{quantity},
        update_date = #{updateDate}
        where type = #{type} and #{quantity} <![CDATA[ > ]]> quantity
    </update>

    <select id="findMeterReadingDataByType" parameterType="java.lang.Integer" resultType="com.api.model.chargeManagement.SysMeterReadingData">
        select * from sys_meter_reading_data where type = #{type}
    </select>
    <select id="findAllCheckInEstateId" parameterType="java.util.Date" resultType="java.lang.Integer">
        select DISTINCT building_unit_estate_id as id from cpm_resident_estate
        where effective_time_start <![CDATA[ <= ]]> #{date}
        and effective_time_end <![CDATA[ >= ]]> #{date}
    </select>
    <select id="countCheckInEstateAllArea" parameterType="java.util.List" resultType="java.math.BigDecimal">
        select sum(indoor_area) as area_totals
        from cpm_building_unit_estate
        where
        id in <foreach item="item" index="index" collection="list"
                             open="(" separator="," close=")">
                #{item}
              </foreach>
    </select>
    <select id="findMeterReadingRecordById" parameterType="java.lang.Integer" resultType="com.api.vo.chargeManagement.VoMeterReadingRecord">
        select *,DATE_FORMAT(start_date,'%Y%m') as months from sys_meter_reading_record
        where id = #{meterReadingRecordId}
    </select>

    <insert id="insertMeterReadingShareBill" parameterType="com.api.model.chargeManagement.SysMeterReadingShareBill">
        insert into sys_meter_reading_share(
            meter_reading_record_id,
            months,
            totals,
            unit,
            unit_price,
            type,
            cost,
            household_consumption,
            household_area,
            household_cost,
            share_unit_price,
            charge_unit,
            household_share_cost,
            paid_amount,
            unpaid_expenses,
            status,
            additional_costs,
            rate,
            effective_time_start,
            effective_time_end,
            remakes,
            create_id,
            create_date
        )value (
            #{meterReadingRecordId},
            #{months},
            #{totals},
            #{unit},
            #{unitPrice},
            #{type},
            #{cost},
            #{householdConsumption},
            #{householdArea},
            #{householdCost},
            #{shareUnitPrice},
            #{chargeUnit},
            #{householdShareCost},
            #{paidAmount},
            #{unpaidExpenses},
            #{status},
            #{additionalCosts},
            #{rate},
            #{effectiveTimeStart},
            #{effectiveTimeEnd},
            #{remakes},
            #{createId},
            #{createDate}
        )
    </insert>

    <update id="updateMeterReadingRecordBillStatus" parameterType="com.api.model.chargeManagement.SysMeterReadingRecord">
        update sys_meter_reading_record
        set bill_status = #{billStatus}
        where id = #{id}
    </update>

    <insert id="insertMeterReadingShareBillDetails" parameterType="com.api.model.chargeManagement.SysMeterReadingShareBillDetails">
        insert into sys_meter_reading_share_details(
            estate_id,
            house_area,
            amount_payable,
            paid_amount,
            remaining_unpaid_amount,
            status,
            rate,
            payment_period,
            create_id,
            create_date
        )value (
            #{estateId},
            #{houseArea},
            #{amountPayable},
            #{paidAmount},
            #{remainingUnpaidAmount},
            #{status},
            #{rate},
            #{paymentPeriod},
            #{createId},
            #{createDate}
        )
    </insert>

</mapper>