<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.app.dao.shoppingCenter.ShoppingDao">

    <select id="list" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppCategoryVo">
        select id,name from shop_category where parent_id = #{parentId}
    </select>
    <select id="findTopGoods" resultType="com.api.vo.app.AppGoodsVo">
        select * from shop_goods where status = 1 and is_delete = 1 order By subscribe_num desc limit 4
    </select>
    <select id="findGoodsByCategoryId" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppGoodsVo">
        select * from shop_goods where category_id = #{categoryId} and  status = 1 and is_delete = 1 order By subscribe_num
    </select>
    <select id="findDetailByGoodsId" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppGoodsDetailVo">
        select sg.id,sg.recommend,sg.title,sg.selling_price,sg.marking_price,sc.name as category_name,
        sg.subscribe_num,sg.detail,sg.arrival_time,ss.id as supplier_id,ss.name as supplier_name,ss.tel as supplier_tel,
        ss.address as supplier_address
        from shop_goods as sg,shop_supplier as ss,shop_category as sc
        where sg.category_id = sc.id and sg.supplier_id = ss.id and sg.id = #{goodsId} and  sg.status = 1 and sg.is_delete = 1
    </select>
    <select id="countAppointmentByGIdAndUId" parameterType="com.api.model.app.AppGoodsIdAndUserId" resultType="java.lang.Integer">
        select count(*) from shop_goods_appointment where goods_id = #{goodsId} and create_id = #{UserId}
    </select>
    <select id="findTopGoodsBySupplierId" parameterType="java.lang.Integer" resultType="com.api.vo.app.AppGoodsVo">
        select * from shop_goods where supplier_id = #{supplierId} and  status = 1 and is_delete = 1 order By subscribe_num limit 4
    </select>

    <insert id="goodsAppointment" parameterType="com.api.model.app.AppGoodsAppointment">
        insert into shop_goods_appointment(
            goods_id,
            status,
            user_name,
            user_tel,
            num,
            create_id,
            create_date
        )values (
            #{goodsId},
            #{status},
            #{userName},
            #{userTel},
            #{num},
            #{createId},
            #{createDate}
        )
    </insert>

    <select id="goodsSearch" parameterType="java.lang.String" resultType="com.api.vo.app.AppGoodsVo">
        select * from shop_goods where title like concat('%',#{searchName},'%')
    </select>

    <update id="incGoodsAppointmentNum" parameterType="com.api.model.app.AppGoodsIdAndAppointmentNum">
        update shop_goods set subscribe_num = subscribe_num + #{appointmentNum} where id = #{goodsId} and subscribe_num + #{appointmentNum} <![CDATA[ <= ]]> stock
    </update>

</mapper>