<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.manage.dao.butlerService.LeaseDao">

    <select id="list" parameterType="com.api.model.butlerService.SearchLease" resultType="com.api.vo.butlerService.VoLease">
        select sl.*,su1.actual_name as reviewer_name,su2.actual_name as create_name,CONCAT(cb.no,'-',cbu.no,'-',cbue.room_number) as room_name
        from sys_user as su2,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb,sys_lease as sl
		left JOIN sys_user as su1 on sl.reviewer = su1.id
		<where>
            sl.create_id = su2.id
            and sl.estate_id = cbue.id
            and cbue.building_unit_id = cbu.id
            and cbu.building_id = cb.id
            <if test="name != null and name != ''">
                and sl.name like concat('%',#{name},'%')
            </if>
            <if test="idCard != null and idCard != ''">
                and sl.id_card like concat('%',#{idCard},'%')
            </if>
            <if test="tel != null and tel != ''">
                and sl.tel like concat('%',#{tel},'%')
            </if>
            <if test="estateId != null">
                and sl.estate_id = #{estateId}
            </if>
            <if test="type != null">
                and sl.type = #{type}
            </if>
            <if test="status != null">
                and sl.status = #{status}
            </if>
        </where>
    </select>
    <select id="findById" parameterType="java.lang.Integer" resultType="com.api.vo.butlerService.VoFBILease">
        select sl.*,cb.id as building_id,cb.no as building_no,cbu.id as unit_id,cbu.no as unit_no,cbue.id as estate_id,cbue.room_number as room_number
        from sys_lease as sl,cpm_building_unit_estate as cbue,cpm_building_unit as cbu,cpm_building as cb
        where sl.estate_id = cbue.id and cbue.building_unit_id = cbu.id and cbu.building_id = cb.id and sl.id = #{id}
    </select>

    <insert id="insert" parameterType="com.api.model.butlerService.SysLease">
        insert into sys_lease(
            code,
            name,
            sex,
            id_card,
            tel,
            estate_id,
            type,
            estate_type,
            estate_structure,
            construction_area,
            indoor_area,
            rent_standard,
            margin,
            lease_date_start,
            lease_date_end,
            status,
            create_id,
            create_date
        )values (
            #{code},
            #{name},
            #{sex},
            #{idCard},
            #{tel},
            #{estateId},
            #{type},
            #{estateType},
            #{estateStructure},
            #{constructionArea},
            #{indoorArea},
            #{rentStandard},
            #{margin},
            #{leaseDateStart},
            #{leaseDateEnd},
            #{status},
            #{createId},
            #{createDate}
        )
    </insert>


    <update id="update" parameterType="com.api.model.butlerService.SysLease">
        update sys_lease
        <set>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="tel != null and tel != ''">
                tel = #{tel},
            </if>
            <if test="estateId != null">
                estate_id = #{estateId},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="estateType != null and estateType != ''">
                estate_type = #{estateType},
            </if>
            <if test="estateStructure != null and estateStructure != ''">
                estate_structure = #{estateStructure},
            </if>
            <if test="constructionArea != null">
                construction_area = #{constructionArea},
            </if>
            <if test="indoorArea != null">
                indoor_area = #{indoorArea},
            </if>
            <if test="rentStandard != null">
                rent_standard = #{rentStandard},
            </if>
            <if test="margin != null">
                margin = #{margin},
            </if>
            <if test="leaseDateStart != null">
                lease_date_start = #{leaseDateStart},
            </if>
            <if test="leaseDateEnd != null">
                lease_date_end = #{leaseDateEnd},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="reviewer">
        update sys_lease
        set status = #{status},
        reviewer = #{reviewer},
        audit_date = #{auditDate},
        audit_remake = #{auditRemake}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from sys_lease where id = #{id}
    </delete>

    <insert id="insertOrder" parameterType="com.api.model.alipay.SysLeaseOrder">
        insert into sys_lease_order(
            sys_lease_id,
            code,
            name,
            tel,
            pay_type,
            pay_price,
            create_id,
            create_date,
            status
        )values (
            #{sysLeaseId},
            #{code},
            #{name},
            #{tel},
            #{payType},
            #{payPrice},
            #{createId},
            #{createDate},
            #{status}
        )
    </insert>

    <select id="findSysLeaseOrderByCode" parameterType="java.lang.String" resultType="com.api.model.alipay.SysLeaseOrder">
        select * from sys_lease_order where code = #{code}
    </select>

    <update id="updateLeaseOrderStatusByCode" parameterType="com.api.model.alipay.SysLeaseOrder">
        update sys_lease_order
        set status = #{status}
        where code = #{code}
    </update>
    <update id="updateStatusById" parameterType="com.api.model.butlerService.SysLease">
        update sys_lease
        set status = #{status}
        where id = #{id}
    </update>

    <insert id="insertRentOrder" parameterType="com.api.model.alipay.SysLeaseRentOrder">
        insert into sys_lease_order(
            sys_lease_id,
            code,
            name,
            tel,
            pay_type,
            pay_price,
            create_id,
            create_date,
            status
        )values (
            #{sysLeaseId},
            #{code},
            #{name},
            #{tel},
            #{payType},
            #{payPrice},
            #{createId},
            #{createDate},
            #{status}
        )
    </insert>

    <select id="findSysLeaseRentOrderByCode" parameterType="java.lang.String" resultType="com.api.model.alipay.SysLeaseRentOrder">
        select * from sys_lease_rent_order where code = #{outTradeNo}
    </select>

    <update id="updateLeaseRentOrderStatusByCode" parameterType="com.api.model.alipay.SysLeaseRentOrder">
        update sys_lease_rent_order
        set status = #{status}
        where code = #{code}
    </update>
    <update id="reviewTerminationApplication" parameterType="com.api.model.butlerService.SysLease">
        update sys_lease
        set status = #{status},
        not_meter_rent_date = #{notMeterRentDate},
        required_rent = #{requiredRent}
        where id = #{id}
    </update>
    <update id="reviewDepositRefundApplication" parameterType="com.api.model.butlerService.SysLease">
        update sys_lease
        set status = #{status},
        deposit_refund_review_remake = #{depositRefundReviewRemake}
        where id = #{id}
    </update>

    <select id="findPaySysLeaseOrderById" parameterType="java.lang.Integer" resultType="com.api.model.alipay.SysLeaseOrder">
        select * from sys_lease_order where sys_lease_id = #{id} and status = 2
    </select>

</mapper>